@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

:root {
  /* Variables */

  --clr-white: #f7f7f7;
  --clr-black: #070707;

  --clr-primary: #5548fa;
  --clr-primary-dark: #6648FA;

  --clr-secondary: #6f7bad;
  --clr-secondary-dark: #273043;
}

/* General Settings */
body{
  background-color: var(--clr-white);
}

#wave{
  margin-bottom: -6px;
}

/* Header */
header{
  background-color: var(--clr-primary);
}

header h1 {
  font-weight: 300;
  color: var(--clr-white);
  font-size: 5vh;
}

header p {
  color: var(--clr-white);
  margin-top: 3vh;
  font-size: 4vh;
  font-weight: 200;
}

header p span {
  font-weight: 600;
}

.header-container {
  width: 66%;
  margin: auto;
}

/* Main Content */
main{
  width: 66%;
  margin: auto;
  z-index: 1;
}

main h1{
  color: var(--clr-primary);
  font-weight: 400;
  font-size: 3vh;
}

.content-gh{
  display: flex;
  width: 84%;
  margin: auto;
  margin-top: 10vh;
  color: var(--clr-white)
}

.content-gh article{
  width: 20%;
  margin-left: auto;
  text-align: center;
  font-size: 1.5vh;
}

.content{
  display: flex;
  width: 84%;
  margin: auto;
  margin-top: 15vh;
  color: var(--clr-white)
}

.content article{
  width: 20%;
  margin-left: auto;
  margin-top: 10vh;
  text-align: center;
  font-size: 1.5vh;
}

img{
  width: 64vh;
}
iframe{
  width: 64vh;
  height: 36vh;
}

.blob{
  width: 25%;
  z-index: -1;
  position:absolute;
  margin-left: -23vh;
  margin-top: -18vh;
}

footer{
  height: 8vh;
  background-color: var(--clr-primary);
}

@media only screen and (max-width: 1000px) {
  
  main h1{
    color: var(--clr-primary)
  }
  
  .content-gh{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
  }
  
  .content-gh article{
    color: var(--clr-black);
    text-align: left;
    width: 100%;
  }
  
  .content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
  }
  
  .content article{
    color: var(--clr-black);
    text-align: left;
    width: 100%;
    margin-top: auto;
  }
  
  img{
    width: 38vh;
  }

  iframe{
    width: 38vh;
    height: 22vh;
  }
  
  .blob{
    display: none;
  }
}