//--------------------------------------------------
// GLOBAL SELECTION STYLES
//--------------------------------------------------
::-moz-selection {
    color: $clr-yellow;
    background: $clr-base;
}

::selection {
    color: $clr-yellow;
    background: $clr-crust;
}

//--------------------------------------------------
// GLOBAL RESET & TYPOGRAPHY
//--------------------------------------------------
* {
    padding: 0;
    margin: 0;
}

html {
    font-family: $font-family-1;
    font-size: $font-size-base;
    color: $clr-text;
    background-color: $clr-base;
}

//--------------------------------------------------
// LAYOUT CONTAINER
//--------------------------------------------------
.max-width-layout {
    margin-inline: auto;
    padding-inline: e_clamp(20rem, 102.25rem, 1rem, 9rem);
    max-width: 102.25rem;

    @include respond_from(108rem) {}
}

//--------------------------------------------------
// BODY & STRUCTURE
//--------------------------------------------------
body {
    background-color: $clr-crust;
    min-height: 100dvh;
    gap: .125rem;
    display: flex;
    flex-direction: column;
}