@font-face {
    font-family: "Fira Code";
    src: url("../fonts/FiraCode/FiraCode-VF.ttf") format("truetype");
    font-weight: 300 700; /* Unterstützte Gewichts-Range */
    font-style: normal;
    font-display: swap;
  }