$clr_background: linear-gradient(142deg, rgba(2,1,20,1) 0%, rgba(27,31,41,1) 100%);
$clr_main: #CCA42D;
$clr_secondary: #5F76DE;
$clr_bg_main: #24272C;
$clr_bg_secondary: #16181b;
$clr_font: #e0e0e0; 

$xs: 360px;
$s: 480px;
$m: 640px;
$l: 768px;
$xl: 1024px;
$xxl: 1280px;
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(1,1,9);
    background: linear-gradient(128deg, $clr_bg_main, $clr_bg_secondary); 
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "SF Pro Display", Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 16px;  
    color: $clr_font;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0.25rem;
    }

    &::-webkit-scrollbar-track {
        background: linear-gradient(128deg, $clr_bg_main, $clr_bg_secondary); 
    }

    &::-webkit-scrollbar-thumb {
        background-color: $clr_main;
        border-radius: 20px;
        border: none 
    }

    #app { 
        margin-inline: clamp(1rem, -1.3864rem + 11.9318vw, 12.25rem);
        hyphens: auto; 

        h1,
        h3,
        span {
            color: $clr_main;
            position: relative;
            filter: drop-shadow(0px 0px 48px -10px rgba(0, 0, 0, 0.25));
        }

        h1,
        h3 {
            margin-bottom: 1rem;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                background-image: url('/src/images/circle.svg');
                width: 40px;
                height: 40px;
                z-index: -1;
                transform: translate(-33%, -10%);
                border-radius: 100%;
            }

            @media screen and (min-width: $s) {
                &::before {
                    width: 60px;
                    height: 60px;
                    transform: translate(-35%, -20%);
                }
              }

              @media screen and (min-width: $m) {
                &::before {
                    width: 80px;
                    height: 80px;
                    transform: translate(-35%, -20%);
                }
              }
        }

        h1 {
            font-size: clamp(2rem, 1.6667rem + 1.6667vw, 3rem);
        }

        h3 {
            font-size: clamp(1.625rem, 1.4167rem + 1.0417vw, 2.25rem);
        }

        p {
            font-size: clamp(1rem, 0.6429rem + 1.7857vw, 1.5rem);
        }
    }
}