@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf_pro/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
      url('/fonts/sf_pro/SFProDisplay-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf_pro/SFProDisplay-Bold.woff2') format('woff2'),
      url('/fonts/sf_pro/SFProDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf_pro/SFProDisplay-UltralightItalic.woff2') format('woff2'),
      url('/fonts/sf_pro/SFProDisplay-UltralightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf_pro/SFProDisplay-LightItalic.woff2') format('woff2'),
      url('/fonts/sf_pro/SFProDisplay-LightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf_pro/SFProDisplay-BlackItalic.woff2') format('woff2'),
      url('/fonts/sf_pro/SFProDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf_pro/SFProDisplay-ThinItalic.woff2') format('woff2'),
      url('/fonts/sf_pro/SFProDisplay-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf_pro/SFProDisplay-Medium.woff2') format('woff2'),
      url('/fonts/sf_pro/SFProDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf_pro/SFProDisplay-Regular.woff2') format('woff2'),
      url('/fonts/sf_pro/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/sf_pro/SFProDisplay-HeavyItalic.woff2') format('woff2'),
      url('/fonts/sf_pro/SFProDisplay-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

