.header_wrap {
    margin-block: 1rem;
    display: flex;
    font-size: clamp(1.5rem, 0rem + 7.5vw, 2.25rem);
    margin-bottom: 2rem;

    @media screen and (min-width: $s) {
        margin-top: 2rem;
        margin-bottom: 5rem;
      }

      @media screen and (min-width: $m) {
        margin-top: 3rem;
        margin-bottom: 7.5rem;
      }
            
      @media screen and (min-width: $l) {
        margin-top: 4.25rem;
        margin-bottom: 10rem;
      }
  
      @media screen and (min-width: $xl) {
        margin-top: 6.25rem;
        margin-bottom: 15.5rem;
      }

      @media screen and (min-width: $xxl) {
        margin-bottom: 25rem;
      }

      .hasLink {
        position: relative;
        text-decoration: none;
        color: $clr_font;
        transition: color 250ms ease, transform 250ms ease;

        &::before {
          content: '';
          transform: scale(0, 1);
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 2px;
          background-color: $clr_font;
          transition: color 250ms ease, transform 250ms ease, 250ms ease;
        }

        &:hover {
          color: darken($clr_font, 20%);
          
          >&::before {
            transform: scale(1, 1);
            background-color: darken($clr_font, 20%);
          }
        }
      }
 
    .home {
        padding-right: clamp(1rem, -1.5rem + 12.5vw, 4.5rem);
        a {
             
        } 
    }

    .about {
        a {
            
        }
    }
}     