.welcome {
    margin-bottom: 4rem;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: url('/src/images/graphic.svg'); 
        width: 524px;
        height: 424px;
        z-index: -1;
        border-radius: 100%;
        transform: scale(50%) translateY(50%);
        @media screen and (min-width: $s) {
            transform: scale(60%) translateY(50%);
        }

          @media screen and (min-width: $m) {
            transform: scale(75%) translateY(50%);
            left: auto;
        }

        @media screen and (min-width: $m) {
            transform: scale(90%) translateY(50%);
            left: auto;
        }

        @media screen and (min-width: $xl) {
            transform: scale(100%);
        }

        @media screen and (min-width: $xxl) {
            transform: scale(140%) translateX(-10%);
        }

        @media screen and (min-width: 1920px) {
            transform: scale(180%) translateX(-20%); 
        }
    }

    .header_text {
        width: 100%;
        @media screen and (min-width: $s) {
            margin-bottom: 6rem;
          }
    
          @media screen and (min-width: $m) {
            margin-bottom: 8rem; 
          }
                
          @media screen and (min-width: $l) {
            width: 90%;
            margin-bottom: 20rem;
          }
    
          @media screen and (min-width: $xl) {
            width: 33%;
          }

          @media screen and (min-width: $xxl) {
            width: 42rem;
          }
    }    
}